ul{
    list-style: square;
}
#foto1{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 672px;
    height: 452px;
    
}

.column {
    float: left;
    width: 50%;
    padding:10px;
    height:300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
* {
    box-sizing: border-box;
}

*{
    margin: 0 auto; 
}