tabela1{    
    
    text-align: center;
    color:brown;
    border:2px solid #090708;
}

tr{
 border:2px solid #090708;
    
}
td{
    border:2px solid #090708;
    
}
th{
    border:2px solid #090708;
}