header{
    text-align: center;
    color: white;
    background: #008690;
    width: 100%;
    height: 10%;    
    
}

body{
    background-color: #C9CAD9;
    text-align: left;
    font-family: verdana;   
    
}

footer{
    text-align: center;
    color: white;
    background: #008690;
    width: 100%;
    height: 10%;
}


nav{}
section{}