#cabecalho{
    text-align: center;
    color: white;
    background: #A3D588;
    width: 100%;
    height: 20%;    
    
}
#mytable{      
    
    width:60%;
    text-align: center;
    color:#1B5630;
    border:2px solid #1B5630;
    
    
}

tr{
    border:1px solid #020202;
    height:30px;
    
    
}
td{
    border:1px solid #020202;
    
}
th{
    background-color: #4CAF50;
    color: white;
    height:50px;
    border:1px solid #020202;
}

body{
    background-color: #D9EBCA;
    text-align: left;
    font-family: verdana;   
    
}

#rodape{
    text-align: center;
    color: white;
    background: #A3D588;
    width: 100%;
    height: 20%;
}
.column {
    
    float: left;
    width: 20%;
    padding:10px;
    height:300px;
    
}
#coluna1{
    text-align: left;
    background-color: #89B6A5;
    border: 1px;
}
#coluna2{
    text-align: left;
    background-color: #89B6A5;
    border: 1px;
}

/* Clear floats after the columns */
.row:after {
    
    content: "";
    display: table;
    clear: both;
}

div{
float:center;
text-align: center;
    
}



* {
    box-sizing: border-box;
}


nav{}
section{}